.header-title-area span {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

a.no-underline {
    text-decoration: none;
}

.header {
    height: 60px;
    background-color: #fff;
    padding-left: 20px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;

}

.header .search-bar {
    min-width: 360px;
    padding: 0 10px;
    margin-left: auto;
}

.sidebar {
    position: fixed;
    top: 60px;
    width: 300px;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    height: 100%;
    padding: 20px;
}

.profile-header {
    text-align: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-name {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.header-nav {
    background-color: f8f9fa;
    padding: 10px 0;
}

.header-nav ul {
    list-style-type: none;
    margin: auto;
    padding: 20px;
}

.header-nav ul li {
    margin-right: 30px;
}

.user-dashboard-button .nav-item {
    margin-left: 40px;
}

#main {
    margin-top: 160px;
    /* padding: 20px 30px; */
    transition: all 0.3s;
}

.pagetitle {
    margin-bottom: 10px;
}

.pagetitle h1 {
    font-size: 20px;
    color: black;
}